<center>
	<% if @events.count > 0 %>
		<%= render partial: 'event', collection: @events %>
	<% else %>
		<h2>No Events Yet</h2>
	<% end %>

	<h3>
		<%= link_to "Add New Event", new_event_path() %>
	</h3>	
</center>
